/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #ffffff; /* zmiana na białe */
  color: #1f2933; /* ciemny kontrast */
}

/* HEADINGS */
h1 {
  font-size: 34px; /* mobile */
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.6em;
}

h2 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 0.5em;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  padding: 14px 28px;
  background: #f97316;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 6px;
  border: none;
}
.btn:hover {
  background: #ea580c;
}

/* HERO */
.hero {
  background: #1f2933;
  color: #fff;
  padding: 72px 20px;
  text-align: center;
}

/* SEKCJE */
section {
  background: #fff;
  padding: 64px 20px;
}

.grid {
  display: grid;
  gap: 16px;
}

.box {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  padding: 32px 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}
.box:hover {
  transform: translateY(-2px);
}
.ctn1 {
  text-align: center;
  margin-top: 32px;
}

/* FORMULARZ */
form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 360px;
  margin: 0 auto;
}

input,
textarea,
button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 6px;
}
input,
textarea {
  border: 1px solid #d1d5db;
  font-family: inherit;
}
button {
  border: 1px solid #d1d5db;
  background: #f97316;
  color: #ffffff;
  cursor: pointer;
}
footer {
  text-align: center;
  font-size: 14px;
  color: #666;
  padding: 20px;
}

/* DESKTOP (opcjonalnie) */
@media (min-width: 768px) {
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  section {
    margin: 0 auto;
    max-width: 1100px;
  }
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 52px; /* 48–56px idealnie */
  }

  h2 {
    font-size: 32px;
  }
}
